In [7]:
import pandas as pd
import numpy as np

In [8]:
df_indeed = pd.read_csv("indeed_ds_jobs_cleaned.csv")
df_seek = pd.read_csv("seek_ds_jobs_cleaned.csv")

In [9]:
df_indeed

,Title,Company,Location,Link,Review,Salary,Description
0,Data Specialist,Eutility Pty Ltd,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,None,"$55,000 - $60,000 a year",Data Specialist\nPython : VBA : Tableau\nData ...
1,Data Scientist,Department of Justice and Community Safety,Melbourne City Centre VIC,https://au.indeed.com/rc/clk?jk=a1042d7e16229a...,3.4,"$122,502 - $163,934 a year",Utilise your experience standing up and leadin...
2,Data Analyst,Publicis Communications,Southbank VIC,https://au.indeed.com/company/Publicis-Communi...,None,"$70,000 - $80,000 a year","Company description\nHeadquartered in Berlin, ..."
3,SQL Analyst Programmer (Full-Time),Results Direct Pty Ltd,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,None,"$75,000 - $90,000 a year","Immediate start\nPermanent, Full Time position..."
4,LECTURER IN DATA SCIENCE AND STATISTICS,University of Melbourne,Parkville VIC,https://au.indeed.com/rc/clk?jk=3cb41103a342f8...,4.3,"$105,232 - $124,958 a year",Job no: 0051318\nWork type: Fixed Term\nLocati...
...,...,...,...,...,...,...,...
155,Manager | Risk Analytics,PwC,Melbourne VIC,https://au.indeed.com/rc/clk?jk=3844a4ff34e4ca...,4.0,"$100,000 a year",Line of Service\nAdvisory\nIndustry/Sector\nNo...
156,Senior Web Developer,"Tempe tyres and Wheel centre, Tempe",None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,2.3,"$90,000 - $110,000 a year","The Role\nIn this role, you will be required t..."
157,Chief Technology Officer,Digital Services Australia IV pty ltd,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,None,"$144,962 - $160,000 a year",Chief Technology Officer\nOfload is a digital ...
158,Fullstack Software Engineer,Drive Yello,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,None,"$80,000 - $100,000 a year",This is your chance to be part of an exciting ...
159,PhD Scholarship - Genetic and Physiological Ch...,CSIRO,Narrabri NSW,https://au.indeed.com/rc/clk?jk=856ad7d3973731...,4.1,"$30,000 a year",Are you passionate about increasing the produc...

In [11]:
df_seek

,Unnamed: 0,Title,Company,Location,Link,Salary,Review,Description
0,2.0,Junior Data Scientist - Contract,Talent Insights Group Pty Ltd,Sydney,https://www.seek.com.au/job/51038882?type=stan...,Contract Rate - Circa $300-$450 per day,None,This is an excellent opportunity for a ‘Junior...
1,5.0,Data Scientist,FourQuarters Recruitment,Melbourne,https://www.seek.com.au/job/51045622?type=stan...,"$150,000 - $200,000",None,Data Scientist\nUnderstand of multiple data sc...
2,15.0,Data Scientist,"Chief Minister, Treasury and Economic Development",ACT,https://www.seek.com.au/job/51041315?type=stan...,"$86,547 - $99,051",None,"Chief Minister, Treasury and Economic Developm..."
3,16.0,Data Scientist,"Chief Minister, Treasury and Economic Development",ACT,https://www.seek.com.au/job/51041316?type=stan...,"$86,547 - $99,051",None,"Chief Minister, Treasury and Economic Developm..."
4,17.0,Senior Data Scientist,CSIRO,Perth,https://www.seek.com.au/job/51087355?type=stan...,$113k - $132k p.a. + up to 15.4% superannuation,3.8 overall rating (142 employee reviews),Senior Data Scientist\nThe Opportunity\nAre yo...
...,...,...,...,...,...,...,...,...
401,1843.0,IT Infrastructure Project Manager - Exciting p...,AC3 Pty Limited,Sydney,https://www.seek.com.au/job/50958868?type=stan...,$145K-$150K package per annum,None,IT Infrastructure Project Manager - Exciting p...
402,1844.0,"Trainer Assessor, Laboratory Operations",LTT,Brisbane,https://www.seek.com.au/job/50978224?type=stan...,$65-80k+ p.a. (depending on experience) plus s...,3.7 overall rating (9 employee reviews),"Trainer Assessor, Laboratory Operations\nDo yo..."
403,1855.0,Local Experience Expert/Writer - Syd based w/ ...,Robert Walters,Sydney,https://www.seek.com.au/job/50904271?type=stan...,$450 - $470 p.d. + initial contract w/extension,None,Local Experience Expert/Writer - Syd based w/ ...
404,1869.0,PhD Scholarship,Griffith University,Gold Coast,https://www.seek.com.au/job/50967529?type=stan...,Up to $28092 p.a.,3.8 overall rating (237 employee reviews),PhD Scholarship\nAbout Griffith Health\nGriffi...
405,1870.0,PhD Scholarship,Griffith University,Gold Coast,https://www.seek.com.au/job/50967528?type=stan...,Up to $28092 p.a.,3.8 overall rating (237 employee reviews),PhD Scholarship\nAbout Griffith Health\nGriffi...